/* Additional styles */

body {
  font-family: "Open Sans";
}

/* My standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}
.btn-filebox {
  color: #fff;
  background-color: #286090;
  border-color: #558fc2;
}
.btn-filebox:focus,
.btn-filebox.focus {
  color: #fff;
  background-color: #2e6da4;
  border-color: #337ab7;
}
.btn-filebox:hover {
  color: #fff;
  background-color: #2e6da4;
  border-color: #406e96;
}
.btn-filebox:active,
.btn-filebox.active,
.open > .dropdown-toggle.btn-filebox {
  color: #fff;
  background-color: #286090;
  border-color: #406e96;
}
.btn-filebox:active:hover,
.btn-filebox.active:hover,
.open > .dropdown-toggle.btn-filebox:hover,
.btn-filebox:active:focus,
.btn-filebox.active:focus,
.open > .dropdown-toggle.btn-filebox:focus,
.btn-filebox:active.focus,
.btn-filebox.active.focus,
.open > .dropdown-toggle.btn-filebox.focus {
  color: #fff;
  background-color: #406e96;
  border-color: #558fc2;
}
.btn-filebox:active,
.btn-filebox.active,
.open > .dropdown-toggle.btn-filebox {
  background-image: none;
}
.btn-filebox.disabled:hover,
.btn-filebox[disabled]:hover,
fieldset[disabled] .btn-filebox:hover,
.btn-filebox.disabled:focus,
.btn-filebox[disabled]:focus,
fieldset[disabled] .btn-filebox:focus,
.btn-filebox.disabled.focus,
.btn-filebox[disabled].focus,
fieldset[disabled] .btn-filebox.focus {
  background-color: #2e6da4;
  border-color: #337ab7;
}
.btn-filebox .badge {
  color: #2e6da4;
  background-color: #fff;
}
  
  .col-filebox {
  width: 50%;
}
.col-filebox {
  float: left;
}
.col-filebox {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}
.row-filebox {
  margin-right: -5px;
  margin-left: -5px;
}